<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar.bg-dark {
            background-color: #1c578c !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Warehouse Management", "Index", "users", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    @if (HouseMangment.Controllers.UsersController.logged == true && HouseMangment.Controllers.UsersController.hisadmin == true)
                    {

                        <li>@Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Devices", "Index", "Devices", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Assign", "Index", "status", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                    @if (HouseMangment.Controllers.UsersController.logged == true )
                    {

                        <li class="float-right" style="color: white; background-color: #767373; border-radius: 10%">@Html.ActionLink("logout", "logout", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year - Made with love: Mohammed - Hassan - Nawaf - Saleh</p></center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
    @RenderSection("scripts", required: false)
    
    <script>
        $(document).ready(function () {
            $('#DataTable1').DataTable();
        });
    </script>
</body>
</html>
