@model IEnumerable<HouseMangment.Entity.Devices>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <strong>Executed successfully</strong>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-danger">
        <strong>an error occurred</strong>
    </div>
}


<div>
    <a href="@Url.Action("Create")"><button type="button" class="btn btn-outline-success">Create new device</button></a>
    <hr>
</div>


<table class="table" id="DataTable1">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
        </th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
