@model IEnumerable<HouseMangment.Entity.Status>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>  Hestory Assign</h2>



<div>
    <br>
    <a href="@Url.Action("index")"><button type="button" class="btn btn-outline-dark">back</button></a>
    <hr>
</div>
<table class="table" id="DataTable1">
    <thead>
        <tr>
            <th>
                Device name
            </th>
            <th>
                Device Serial
            </th>
            <th>
                User Name
            </th>
            <th>
                date start
            </th>
            <th>
                date end
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Devices.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Devices.SerialNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

            </tr>
        }
    </tbody>
</table>
