@model IEnumerable<HouseMangment.Entity.Status>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>  Active Assign</h2>

<div>
    <br>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a href="@Url.Action("Create")" class="btn btn-outline-success">Assign Device</a>
        </div>
        <div>
            <a href="@Url.Action("HestoryAssign")" class="btn btn-outline-dark">History Assign</a>
        </div>
    </div>
    <hr>
</div>

<br>
<table class="table table table-striped" id="DataTable1">
    <thead>
        <tr>
            <th>
                Device name
            </th>
            <th>
                Device Serial
            </th>
            <th>
                User Name
            </th>
            <th>
                Date and Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Devices.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Devices.SerialNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>

                <td>
                    <a href="@Url.Action("Unassing", new { id = item.Id })"><button class="btn btn-danger">Unassing</button></a>
                </td>
            </tr>



        }

    </tbody>
</table>
