@model IEnumerable<HouseMangment.Entity.Status>

@{
    ViewBag.Title = "myAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>myAssign</h2>

<div>
    <br>
    <a href="@Url.Action("myoldassign")"><button type="button" class="btn btn-outline-dark">Hestory Assign</button></a>
    <hr>
</div>

<br>
<table class="table" id="DataTable1">
    <thead>
        <tr>
            <th>
                Device name
            </th>
            <th>
                Device Serial
            </th>
            <th>
                User Name
            </th>
            <th>
                Date and Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Devices.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Devices.SerialNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Users.name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>

               
            </tr>
        }
    </tbody>
</table>
