@model IEnumerable<HouseMangment.Entity.Users>

@{
    ViewBag.Title = "InactiveUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InactiveUsers</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <strong>Executed successfully</strong>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-danger">
        <strong>an error occurred</strong>
    </div>

    <br>
}
<a href="@Url.Action("index")">
    <button type="button" class="btn btn-outline-dark">Back</button>
</a>


<hr>
<table class="table" id="DataTable1">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    <a href="@Url.Action("Active", new { id = item.Id })"><button class="btn btn-outline-success">Active </button></a>

                    <a href="@Url.Action("Edit", new { id = item.Id })"><button class="btn btn-outline-warning">Edit </button></a>
                    <a href="@Url.Action("Delete", new { id = item.Id })"><button class="btn btn-outline-danger">Delete </button></a>

                </td>
            </tr>
        }
    </tbody>

</table>
