@model IEnumerable<HouseMangment.Entity.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <strong>Executed successfully</strong>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success alert-danger">
        <strong>an error occurred</strong>
    </div>
}


<div>
    <br>
    <a href="@Url.Action("InactiveUsers")"><button type="button" class="btn btn-outline-dark">InactiveUsers 
        
        @if (ViewBag.coun != null){
  <span style="background-color: red; width: 24px; display: inherit; padding: 2px; color: white; border-radius: 50%;">
        @ViewBag.coun</span>
        }
         </button></a>
    <hr>
</div>



<table class="table" id="DataTable1">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
